<!-- Sidebar -->
<div class="flex h-full flex-col overflow-y-hidden bg-white shadow-sm duration-300 ease-linear dark:bg-boxdark">
  <!-- SIDEBAR HEADER -->
  <div class="flex items-center justify-between gap-2 px-6 py-5.5 lg:py-6.5">
    <div class="flex items-center gap-2">
      <svg class="h-8 w-8 text-blue-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8 12L11 15L16 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span class="text-xl font-semibold text-slate-900 dark:text-white">DietFlow</span>
    </div>
  </div>
  <div class="flex flex-col overflow-y-auto duration-300 ease-linear">
    <!-- Sidebar Menu -->
    <nav class="px-4 py-4">
      <!-- Menu Group -->
      <div>
        <h3 class="mb-4 ml-4 text-sm font-medium text-slate-600">MENU</h3>
        <ul class="mb-6 flex flex-col gap-1.5">
          <!-- Dashboard -->
          <li>
            <%= link_to root_path, 
                class: "group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-slate-800 duration-300 ease-in-out hover:bg-blue-500 hover:text-white #{current_page?(root_path) ? 'bg-blue-500 text-white' : ''}" do %>
              <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2c06ea" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
              </div>
              Dashboard
            <% end %>
          </li>
          <!-- Clientes -->
          <li>
            <%= link_to clients_path, 
                class: "group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-slate-800 duration-300 ease-in-out hover:bg-blue-500 hover:text-white #{current_page?(clients_path) ? 'bg-blue-500 text-white' : ''}" do %>
              <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#7b278b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-user-icon lucide-book-user"><path d="M15 13a3 3 0 1 0-6 0"/><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/><circle cx="12" cy="8" r="2"/></svg>
              </div>
              Clientes
            <% end %>
          </li>
          <!-- Alimentos -->
          <li>
            <%= link_to foods_path, 
                class: "group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-slate-800 duration-300 ease-in-out hover:bg-blue-500 hover:text-white #{current_page?(foods_path) ? 'bg-blue-500 text-white' : ''}" do %>
              <div class="relative">
                <!-- Ícone de Maçã melhorado -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#308d54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-apple-icon lucide-apple"><path d="M12 6.528V3a1 1 0 0 1 1-1h0"/><path d="M18.237 21A15 15 0 0 0 22 11a6 6 0 0 0-10-4.472A6 6 0 0 0 2 11a15.1 15.1 0 0 0 3.763 10 3 3 0 0 0 3.648.648 5.5 5.5 0 0 1 5.178 0A3 3 0 0 0 18.237 21"/></svg>
              </div>
              Alimentos
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>